.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('https://plus.unsplash.com/premium_vector-1711987810156-4793e4aa786e?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: aqua;
}

.typewriter {
  font-size: 2rem;
  height: 2.5rem; 
  margin-bottom: 2rem;
  font-weight: 500;
  color: yellow;
}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 25px;
 
}

.btn {
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.hire-btn {
  background-color: #ffffff;
  color: #000000;
}

.hire-btn:hover {
  background-color: yellow;
}

.portfolio-btn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.portfolio-btn:hover {
  background-color: #ffffff;
  color: #000;
}
@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }

  .typewriter {
    font-size: 1.5rem;
    height: 2rem;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }

  .btn {
    width: 150px;
  }
}
