.projects {
    background-color: #0a0a0a;
    padding: 80px 20px;
    color: #ffffff;
}

.projects-container {
    max-width: 1200px;
    margin: auto;
}

.projects-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;

}

.hr {
  height: 4px;
  width: 80%;
  margin: 50px auto;
  border-radius: 20px;
  background: linear-gradient(90deg, yellow, aqua, red);
}

.projects-subtitle {
    color: #a3a3a3;
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
}

/* Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Card */
.project-card {
    background-color: #111111;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(127, 241, 214, 0.5);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Content */
.project-content {
    padding: 20px;
}

.project-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-content p {
    font-size: 14px;
    color: #b3b3b3;
    line-height: 1.6;
}

/* Buttons */
.project-links {
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.project-links button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
    transition: all 0.2s ease;
}

.project-links button:hover {
    background-color: yellow;
}

.project-links .outline {
    background: transparent;
    color: #ffffff;
    border: 1px solid #444;
}

.project-links .outline:hover {
    background-color: #ffffff;
    color: #000;
}

/* Responsive */
@media (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .projects-title {
        font-size: 28px;
        text-align: center;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}